<h1>New Contact form</h1>
<%= form_for(@contact) do |f|%>
<div>
  <h3>contact for: <%=f.collection_select :user_id, User.all, :id, :name%></h3>
</div>
  <div>
    <%= f.label :name%>
    <%= f.text_field :name%>
  </div><br>
  
  <div>
    <%= f.label :address%>
    <%= f.text_field :address%>
  </div><br>
  
  <div>
    <%= f.label :phone_number%>
    <%= f.text_field :phone_number%>
  </div><br>

</div>
<h3>List All Pets</h3>
    <div>
    <h3>create a new pet:</h3>
    <%= f.fields_for :pets_attributes, Pet.new do |pets_attributes|%>
        <%= pets_attributes.label :name, "Pet Name:" %>
        <%= pets_attributes.text_field :name %>
        <p>
        <%= pets_attributes.label :breed, "Breed:" %>
        <%= pets_attributes.text_field :breed %>
        </p>
    <% end %>
  <%=f.submit%>
<%end%>
